*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;

}


.header .imagen{
    width: 100%;
    height: 60px;
    background-color: aqua;
}

.nav nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(39, 179, 184);
}

li{
    text-decoration: none;
}


